<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/results" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name"><br>

    <label for="location">Location:</label>
    <select name="location" id="location">
        <option value="San Jose">San Jose</option>br
        <option value="Mountain View">Mountain View</option>
        <option value="Dallas">Dallas</option>
    </select>

        <br>

    <label for="language">Language</label>
    <select name="language" id="language">
        <option value="Javascript">Javascript</option>
        <option value="PHP">PHP</option>
        <option value="Python">Python</option>
    </select>

        <br>

    <textarea name="comments" id="comment" cols="30" rows="10"></textarea>
        <br>
    <button>Submit</button>

</form>

</body>
</html>